# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.bills-of-exchange.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\ProjektyCts\bills-of-exchange\.idea\.idea.bills-of-exchange.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
